.intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.intro > img {
  height: 20rem;
  width: 20rem;
}

.status {
    font-size: 24px;
    margin-top: 3rem;
}

.board {
  display: flex;
  flex-direction: column;
    height: 30rem;
    margin-top: 4rem;
    gap: 2rem;
}

.board-row {
    height: 5rem;
    width: 17rem;
    display: flex;
    gap: 2rem;
}

.square {
    height: 5rem;
    width: 5rem;
    font-size: 20px;
}

.boton-iniciar {
    width: 9rem;
}

@media only screen and (max-width: 600px) {
  .intro > img {
    height: 20rem;
    width: 80%;
  }

    .container {
      width: 18rem;
      height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
  
    .board {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .board-row {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      height: 6rem;
    }
  
    .square {
      width: 30%;
      padding: 10px;
      font-size: 16px;
      height: 4rem;
    }
  
    .boton-iniciar,
    .boton-reiniciar {
      width: 100%;
    }
  }
  