#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  height: 15vh;
}

main {
  height: 70vh;
}

.juegos{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.NavLink {
  font-size: 25px;
}

.NavLink:hover {
  border-bottom: 2px solid #535bf2;
}

footer {
  height: 5vh;
}

@media screen and (max-width: 800px) {
  #root{
    width:auto;
    margin: 0;
    margin-left: 1rem;
  }

  header {
    width: 16rem;
    height: 30vh;
  }

  main{
    height: fit-content;
  }

  .juegos {
    gap: 1.3rem;
  }


  .NavLink {
    width: 3rem;
    font-size: 12px;
  }
}
