#root {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bigDiv{
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 19vh;
  width: 100%;
  margin-bottom: 3rem;
  background-color: #084B83;
}

main {
  height: 70vh;
}

.juegos{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.NavLink {
  font-size: 25px;
  color: white;
}

footer {
  height: 3vh;
}

@media screen and (max-width: 800px) {
  #root{
    width:auto;
    margin: 0;
    margin-left: 1rem;
  }

  header{
    width: 100%;
    height: 27vh;
  }

  main{
    height: fit-content;
  }

  .juegos {
    gap: 2.5rem;
  }


  .NavLink {
    width: 3rem;
    font-size: 17px;
  }
}
